.section_category {
    height: 100vh;
}

.category__img {
    width: 90px !important;
    height: 90px !important;
    object-fit: cover;
}
.create__button{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}