.menu-icon {
    padding: 1px;
}
.icons{
    margin-right: 20px !important;
}
.icons svg {
    width: 25px !important;
    height: 25px !important;
}
.layout__menu{
    height: 100vh !important;
}
.layout__list{
    margin-top: 12px !important;
}
.logo{
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    color: black;
    text-transform: uppercase;
}
.input{
   display: flex;
   align-items: center;
   padding-left: 15px;
   padding-right: 15px;
}
